@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Courgette&family=Creepster&family=Fredoka:wght@500&family=Gayathri&family=Lexend+Mega&family=MuseoModerno&family=Nabla&family=Nosifer&family=Pacifico&family=Permanent+Marker&family=Trade+Winds&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gayathri", sans-serif;
  /* color:#b147b1; */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(https://www.visitarizona.com/imager/s3_us-west-1_amazonaws_com/aot-2020/images/3D-Images/saguaro-az-complete_b2b0b89039603b931027eb2900b66531.png),
    #000;
  background-position: center;
  background-size: cover;
}

.wrapper {
  width: 400px;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  /* color change to purple or black */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  /* backdrop-filter: invert(80%);
  -webkit-backdrop-filter: invert(80%); */
  /* backdrop-filter: sepia(90%);
  -webkit-backdrop-filter: sepia(90%); */
  transform: translateY(0);
  opacity: 0;
  animation: fadeIn 1.8s ease forwards;
  /* this selector, "wrapper", is the entire card */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
  /* this selector controls the  */
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #0fcae3;
}

/* h2:hover {
  color:#891087;
} */

.login-title:hover {
  color: #f27bff;
}

.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #0fcae3;
  font-size: 20px;
  pointer-events: none;
  transition: 0.2s ease;
}

.input-field input {
  width: 100%;
  height: 44px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  color: #fff;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
  /* these selectors combine to create the shrinking plus elevating text effect, "shelving", if you will ;) */
}

.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #0fcae3;
}

#remember {
  accent-color: #bd1c87;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label p {
  margin-left: 8px;
}

.wrapper a {
  /* color: #0fcae3; */
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
  color: antiquewhite;
  text-shadow: rgb(2, 228, 236) 3px 0 10px;
}

button {
  background: rgba(245, 245, 245, 0.402);
  color: #f419ab;
  /* width: 66%; */
  font-weight: 600;
  padding: 0.1em;
  display: table-cell;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  transform: translateY();
  /* transform: translateX(60px); */
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.5s ease;
  border-radius: 8px;
  /* with no border, default looks 3D */
  /* border: 3px solid #f27bff; */
  /* border: 3px solid black; */

  /* border-color: #891087; */
  /* border: 2px solid transparent; */
}

.log_in {
  transform: translateY(3px);
  /* color:#bd1c87; */
  text-shadow: rgb(5, 184, 233) 3px 0 10px;
}

button:hover {
  color: antiquewhite;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.01);
}

.register {
  text-align: center;
  margin-top: 30px;
  color: #0c5a64;
  transform: translateY(22px);
  text-shadow: rgb(5, 184, 233) 3px 0 10px;
}

a {
  color: #0fcae3;
}

.r-here {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-shadow: #b147b1;
}

.register a:hover {
  text-align: center;
  margin-top: 30px;
  color: antiquewhite;
  text-shadow: rgb(2, 228, 236) 3px 0 10px;
}

/* .parallax {
  background: rgb(56, 97, 190);
  background-image: linear-gradient(
    to right top,
    #e3c782,
    #e5bb85,
    #e2b18a,
    #dba78f,
    #d1a094,
    #ce9b97,
    #ca979b,
    #c4949e,
    #c591a5,
    #c390ae,
    #bf8fb8,
    #b690c3
  );
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
